
@media only screen and (max-width: 1500px){
    .wrapper{
        max-width: 1200px;
    }
}

@media only screen and (max-width: 1300px){
    .wrapper{
        max-width: 1000px;
    }
}


/* IPAD PRO AND SMALLER */
@media only screen and (max-width: 1024px){
    .page-container{
        height: fit-content;
        padding-top: 200px;
        gap: 0;
    }

    .data-container{
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .navbar{
        flex-direction: column;
        padding: 40px 50px 27px 50px;
    }

    .logo{
        margin-bottom: 40px;
    }

    .img-mercury{
        transform: scale(0.63);
        justify-self: flex-start;
    }

    .hero{
        max-height: none;
        flex-direction: column;
        height: 85%;
        justify-content: flex-end;
        gap: 0;
    }

    .info-container{
        flex-direction: row;
        width: 100%;
        gap: 70px;
        height: 350px;
        justify-content: space-between;
    }

    .content{
        margin-bottom: 20px;
        height: initial;
    }

    .text-container{
        max-width: 500px;
    }

    .text-container h1{
        margin-bottom: 24px;
    }

    .img-container{
        height: 40svh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ======== TYPOGRAPHY ========= */

    .text-container p{
        font-size: 11px;
        line-height: 22px;
    }

    .text-container h1{
        font-size: 48px;
    }

    .data-card h4{
        font-size: 8px;
        line-height: 16px;
       
    }

    h2{
        font-size: 24px;
        line-height: 44px;
    }
    
    .data-card{
        padding: 13px 16px;
    }

    .btn{
        width: 281px;
    }

    h3{
        font-size: 9px;
    }

    .li{
        font-size: 13px;
    }
    
}


@media only screen and (max-height: 1100px){
    .info-container{
        height: fit-content;
    }
}

@media only screen and (max-width: 768px){
    .li{
        font-size: 11px;
    }

    .menu{
        gap: 1rem;
    }
}

/* ============= MOBILE RESPONSIVITY ================== */
@media only screen and (max-width: 650px){
    .menu{
        display: none;
    }

    .navbar-toggler{
        display: block;
    }

    .navbar{
        flex-direction: row;
        align-items: center;
    }

    .logo{
        margin: 0;
    }

    .buttons{
        display: none;
    }

    .data-container{
        grid-template-columns: 1fr;
    }

    .img-mercury{
        transform: scale(0.40);
        max-height: fit-content;
    }

    .img-container{
        width: 100%;
        max-height: 300px;
    }

    .data-card{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    .data-container{
        gap: 8px;
    }

    .page-container{
        padding-top: 180px;
    }

    .text-container h1{
        font-size: 40px;
        margin-bottom: 16px;
        line-height: normal;
    }

    .text-container{
        text-align: center;
    }

    .info-container p{
        text-align: center;
    }

    
}